<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My authentication form</title>
</head>
<body>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p  }}
      <button type="submit">Submit form</button>
  </form>
</body>
</html>