<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
{% if product_list %}
    <ul>
    {% for product in product_list %}
      <li> {{product.description}} <a href="{% url 'product_review' product.id %}" type="button">review</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No products are available.</p>
{% endif %}
</body>
</html>